fastapi
uvicorn[standard]
sqlmodel
pymysql
cryptography
pydantic
python-dotenv
alembic
httpx
python-jose
python-multipart
passlib==1.7.4
bcrypt==4.0.1
boto3==1.34.60
PyPDF2
reportlab
babel
openai
langchain
langgraph
langchain-openai
langchain-qdrant
qdrant-client
tiktoken